@page "/"
@using Howest.MagicCards.DAL.Models
@using Howest.MagicCards.Shared.DTO
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<header>
    <h1>Magic the Gathering Deck Builder</h1>
</header>
<main>
            <h2>Cards</h2>
    <form>
        <fieldset>
            <div>
                <label for="name" >Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter Name"/>
            </div>
            <div>
                <label for="artist">Artist:</label>
                <input type="text" id="artist" name="artist" placeholder="Enter Artist"/>
            </div>
            <div>
                <label for="text">Text:</label>
                <input type="text" id="text" name="text" placeholder="Enter (part of) text"/>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <label for="set-code">Set Code:</label>
                <input type="text" id="set-code" name="set-code" placeholder="Enter Set Code"/>
            </div>
            <div>
                <label for="rarity">Rarity:</label>
                <InputSelect id="rarity" @bind-Value="@model.Rarity">
                    <option value="">All Rarities</option>
                    @if (_rarities is not null)
                    {
                        @foreach (RarityDTO rarity in _rarities)
                        {
                            <option value="@rarity.Name">@rarity.Name</option>
                        }
                    }
                </InputSelect>
            </div>
            <div>
                <label for="card-type">Card Type:</label>
                    <InputSelect id="card-type" @bind-Value="@model.Type">
                        <option value="">All Types</option>
                        @if (_types is not null)
                        {
                            @foreach (TypeDTO type in _types)
                            {
                                <option value="@type.Name">@type.Name</option>
                            }
                        }
                </InputSelect>
            </div>
        </fieldset>
            <button>Apply Filters</button>
    </form>
    <div class="result">
        <div class="cards">
    <ul>
            @foreach (CardDTO card in _cards)
            {
                <li @onclick="() => AddCard(Int32.Parse(card.Id))">
                    @if (string.IsNullOrEmpty(card.ImageUrl))
                    {
                        <img src="/Magic_card_back.jpg" alt="Card Image" />
                    }
                    else
                    {
                        <img src="@card.ImageUrl" alt="@card.Name"/>
                    })
                </li>
            }
    </ul>
        </div>
        <div class="deck">
            <h2>Deck</h2>
            <h3>Click cards to add to </h3>
            <ul>
                @if (_deckCards is not null)
                {
                    @foreach (DeckCardDTO card in _deckCards)
                    {
                        <li>
                            @card.Quantity x @card.DeckCardId
                        </li>
                    }
                }
            </ul>
        </div>
        </div>
</main>

@code{
    private Index model = new Index();

    private string message = "Hello";

    public class Index
    {
        public string Rarity { get; set; }
        public string Type { get; set; }
    }

    public void Testing()
    {
        message = "Button clicked";
        StateHasChanged();
    }
}