@page "/"
@using Howest.MagicCards.DAL.Models
@using Howest.MagicCards.Shared.DTO
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<header>
    <h1>Magic the Gathering Deck Builder</h1>
</header>
<main>
    <h2>Cards</h2>
    <form>
        <fieldset>
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter Name" />
            </div>
            <div>
                <label for="artist">Artist:</label>
                <input type="text" id="artist" name="artist" placeholder="Enter Artist" />
            </div>
            <div>
                <label for="text">Text:</label>
                <input type="text" id="text" name="text" placeholder="Enter (part of) text" />
            </div>
        </fieldset>
        <fieldset>
            <div>
                <label for="set-code">Set Code:</label>
                <input type="text" id="set-code" name="set-code" placeholder="Enter Set Code" />
            </div>
            <div>
                <label for="rarity">Rarity:</label>
                <InputSelect id="rarity" @bind-Value="@model.Rarity">
                    <option value="">All Rarities</option>
                    @if (_rarities is not null)
                    {
                        @foreach (RarityDTO rarity in _rarities)
                        {
                            <option value="@rarity.Name">@rarity.Name</option>
                        }
                    }
                </InputSelect>
            </div>
            <div>
                <label for="card-type">Card Type:</label>
                <InputSelect id="card-type" @bind-Value="@model.Type">
                    <option value="">All Types</option>
                    @if (_types is not null)
                    {
                        @foreach (TypeDTO type in _types)
                        {
                            <option value="@type.Name">@type.Name</option>
                        }
                    }
                </InputSelect>
            </div>
        </fieldset>
        <button>Apply Filters</button>
    </form>
    <div class="result">
        <div class="cards">
            <ul>
                @foreach (CardDTO card in _cards)
                {
                    <li class="card-hover" @onmouseover="() => ShowCardDetails(Int32.Parse(card.Id))" @onclick="() => AddCard(Int32.Parse(card.Id))">
                        @if (string.IsNullOrEmpty(card.ImageUrl))
                        {
                            <img src="/Magic_card_back.jpg" alt="Card Image" />
                        }
                        else
                        {
                            <img src="@card.ImageUrl" alt="@card.Name" />
                        }
                        <div class="card-details">
                            @if (currentHoveredCardId == Int32.Parse(card.Id) && _card != null)
                            {
                                <div>Name: @_card.Name</div>
                                <div>Type: @_card.Type</div>
                                <div>Rarity: @_card.RarityCode</div>
                                <div>Text: @_card.Text</div>
                                <div>Flavor: @_card.Flavor</div>
                                <div>Power: @_card.Power</div>
                                <div>Toughness: @_card.Toughness</div>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="deck">
            <h2>Deck</h2>
            <h3>Click cards to add to</h3>
            <ul>
                @if (_deckCardsWithNames is not null)
                {
                    @foreach (var deckCard in _deckCardsWithNames)
                    {
                        <li>
                            <p>
                                <strong @onclick="() => DecreaseCard(deckCard.DeckCard.DeckCardId)">- </strong>
                                @deckCard.DeckCard.Quantity x @deckCard.CardName
                                <strong @onclick="() => AddCard(deckCard.DeckCard.DeckCardId)">+</strong>
                                <span @onclick="() => DeleteCard(deckCard.DeckCard.DeckCardId)">          Delete Card</span>
                            </p>
                        </li>
                    }
                }
            </ul>
            <div class="error">@_message</div>
        </div>
    </div>
</main>
